@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color:#333;
}
.main {
  width: "100%";
}
.topSection {
  width: 100%;
  height: 100vh;
  background: rgb(12, 165, 157);
  background: linear-gradient(
    38deg,
    rgba(12, 165, 157, 1) 62%,
    rgba(0, 168, 255, 1) 81%
  );
  padding: 20px 20px;
}
/*==========================================
               Header Section
==========================================*/
.header {
  width: 100%;
  height:10vh;
}
.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerLogo {
  width: 50%;
}
.headerLinks {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.linkUnit p {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/*==========================================
            Header Section Ends
==========================================*/
.topContent{
  flex:1;
  width: 100%;
  height: 86vh;
  background: "red";
  display: flex;
  align-items: center;
  justify-content: center;
}
.topContentText{
  width:50%;
}
.topContentImage{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topContentImage img{
  width:80%;
  height: auto;
}
/*===================================================
               Feature Section Starts
====================================================*/
.featureSection{
  width:100%;
  padding:10px 15px;
}
.featureHeaderText{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureHeaderText p{
  font-size: 40px;
  font-weight: 700;
}
.featureHeaderDesc{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#57647c;
  font-size: 18px;
}
.featuresContainer{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureUnit{
  width:33.33%;
}
/*===================================================
               Feature Section Ends
====================================================*/