@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color:#333;
}
.main {
  width: "100%";
}
.topSection {
  width: 100%;
  height: 100vh;
  background: rgb(12, 165, 157);
  background: linear-gradient(
    38deg,
    rgba(12, 165, 157, 1) 62%,
    rgba(0, 168, 255, 1) 81%
  );
  padding: 20px 0px;
}
/*==========================================
               Header Section
==========================================*/
.header {
  width: 100%;
  height:10vh;
  padding:10px 20px;
}
.headerSticky{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(12, 165, 157);
  background: linear-gradient(
    38deg,
    rgba(12, 165, 157, 1) 62%,
    rgba(0, 168, 255, 1) 81%
  );
  z-index: 1000; 
  padding: 15px 20px ;
}
.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerLogo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.hamburger{
  position: absolute;
  right:20px;
}
.headerLinks {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.linkUnit p {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width:200px) and (max-width:1024px) {
  .headerLogo{
    width:100%;
  }  
  .headerLinks{
      display:none;
    }
}
/*==========================================
            Header Section Ends
==========================================*/
.topContent{
  flex:1;
  width: 100%;
  height: 86vh;
  background: "red";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}
.topContentText{
  width:50%;
}
.topContentImage{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topContentImage img{
  width:80%;
  height: auto;
}
.contentHead{
  width:100%;
  color:#fff;
  font-size: 18px;
}
.contentMain{
  width:80%;
  color:#fff;
  font-size:75px;
  font-weight: bold;
  margin:10px 0px;
}
.contentDesc{
   width:100%;
   color:#fff;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.6;
   padding-right: 150px;
}
.contentQuote{
  width:100%;
  margin:10px 0px 20px;
}
.contentQuote button{
  padding:18px 25px;
  border-radius: 30px;
  border:none;
  outline:none;
  background: #ffc107;
  color:#fff;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
@media screen and (min-width:200px) and (max-width:1024px) {
  .topContent{
    padding: 30px 20px 20px 20px;
  }
  .topContentText{
    width:100%;
    padding-top: 20px;
   
  }
  .contentMain{
    font-size: 40px;
  }
  .contentDesc{
    padding-right:0px;
    font-size: 18px;
  }
  .topContentImage{
    width:100%;
    align-items: center;
    justify-content: center;
  }
  .topContentImage img{
    width:100%;
    height:auto;
  }
}
/*===================================================
               Feature Section Starts
====================================================*/
.featureSection{
  width:100%;
  padding:120px 15px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.featureHeaderText{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureHeaderText p{
  font-size: 40px;
  font-weight: 700;
}
.featureHeaderDesc{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#57647c;
  font-size: 18px;
}
.featuresContainer{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;

}
.featureUnit{
  width:33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width:200px) and (max-width:900px) {
  .featureHeaderText p{
    font-size: 35px;
    font-weight: 700;
  }
  .featureHeaderDesc{
    width:100%;
    margin-top: 15px;
    padding:0x 25px;
  }
   .featureUnit{
    width:100%;
    margin:30px 0px;
   }
}
.featureUnit .featureUnitHeader{
  width:100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.featureUnit .featureUnitDesc{
  width:80%;
  text-align: center;
  font-size: 18px;
  color:#57647c;
}
/*===================================================
               Feature Section Ends
====================================================*/
/*===================================================
               Points Section Starts
====================================================*/
.pointsSection{
  width:100%;
  padding:50px 10px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;

}
.pointsLeft{
  width:33.33%;
}
.pointLeftUnit{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.pointsLeftTop{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color:rgba(12, 165, 157, 1);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.pointsLeftTop img{
  width: 35px;
  height:35px;
  margin-left: 10px;
}
.pointsLeftDesc{
  width:70%;
  margin-left: 30%;
  display: flex;
  justify-content: flex-end;
  color:#57647c;
  font-size: 16px;
}
.pointsMiddle{
  width:33.33%;
}
.pointsMiddle img{
  width:100%;
  height:auto;
}
.pointsRight{
  width:33.33%;
}
.pointRightUnit{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex;
  margin-bottom: 50px;
}
.pointsRightTop{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color:rgba(12, 165, 157, 1);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.pointsRightTop img{
  width: 35px;
  height:35px;
  margin-right: 10px;
}
.pointsRightDesc{
  width:80%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width:200px) and (max-width:1024px) {
  .pointsSection{
    padding: 0px 20px;
  } 
  .pointsLeft,.pointsMiddle,.pointsRight{
    width:100%;
   }
   .pointsLeftTop,.pointsRightTop{
    justify-content: flex-start;
   }
   .pointsLeftDesc,.pointsRightDesc{
    width:100%;
    margin:0;
    justify-content: flex-start;
   }
}
/*===================================================
               Points Section Ends
====================================================*/
/*===================================================
               Testimonial Section Starts
====================================================*/
.testimonialSection{
  width:100%;
  padding:50px 10px;
  background: rgb(12, 165, 157);
  background: linear-gradient(
    38deg,
    rgba(12, 165, 157, 1) 62%,
    rgba(0, 168, 255, 1) 81%
  );
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
.testimonialHolder{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.testimonialHeader{
  width: 100%;
  max-width: 620px;
  text-align: center;
  color:#fff;
  font-size: 40px;
  font-weight: bold;
}
.testimonialDesc{
  width: 100%;
  max-width: 520px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  line-height: 1.8;
}
/*====================================================
                 Tesimonial Section Ends
====================================================*/
/*====================================================
                 Footer Section Starts
====================================================*/
.footer{
  width:100%;
  min-height:80px;
  background-color: #182c51;
  padding:100px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  color:#fff;
}
.footerDesc{
  width:80%;
  max-width: 300px;
  font-size: 15px;
  color: #fff;
  margin: 15px 0px;
}
.footerSocial{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.socialUnit{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #333333;
  line-height: 36px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.socialUnit:hover{
  background-color: #ffac00;
}
.footerMain{
  width:31%;
  padding-right: 30px;
}
.footerUnit{
  width:23%;
}
.footerUnitHeader{
  width:100%;
  font-size: 25px;
  font-weight: bold;
}
.footerUnitBorder{
  width:15%;
  margin-top: 5px;
  margin-bottom: 25px;
  border:1px solid #ffac00;
}
.footerUnitLinks{
  width:"100%";
}
.footerLink{
  width:100%;
  margin:12px 0px;
}
.footerLink a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width:900px) {
  .footerMain{
    width:100%;
  }
  .footerUnit{
    width:100%;
    margin:20px 0px;
  }
  .footerDesc{
    width:100%;
    max-width: 100%;
    font-size: 15px;
    color: #fff;
    margin: 25px 0px;
  }
}
/*====================================================
                 Footer Section Ends
====================================================*/